@media screen and (max-width: 850px) {
	body, input, select, textarea {
		line-height: 1.5em;
		font-size: 10.5pt;
		letter-spacing: 0;
	}
	h2, h3, h4, h5, h6 {
		font-size: 1.2em;
		letter-spacing: 0.05em;
		margin: 0 0 1em 0;
	}
	/* Section/Article */
	section, article {
		clear: both;
		padding: 1em 0 1em 0 !important;
	}
	header.style1 {
		padding: 0 0 1em 0;
	}
	header.style1 h2 {
		font-size: 1.5em;
		letter-spacing: 0.075em;
		line-height: 1.25em;
	}
	/* Button */
	input[type="button"], input[type="submit"], input[type="reset"], .button {
		display: block;
		width: 100%;
		font-size: 1em;
		padding: 1em 0 1em 0;
		max-width: 30em;
		margin: 0 auto;
	}

	.wrapper {
		padding: 15px 15px 5em 15px;
	}
	.wrapper .title {
		font-size: 0.9em;
		width: 18em;
		height: 2.5em;
		top: -2.5em;
		line-height: 2.5em;
		margin-bottom: -2.5em;
		margin-left: -9em;
		padding-top: 0.5em;
	}
	.wrapper .title:before, .wrapper .title:after {
		height: 15px;
		bottom: -15px;
		background-size: 100% 100%;
	}
	#header-wrapper {
		padding: 6em 2em 6em 2em;
	}
	
	#logo {
		text-align: center;
	}
	#logo h1 {
		font-size: 1.5em;
		letter-spacing: 0.2em;
	}
	#logo p {
		margin: 1.25em 0 0 0;
		display: block;
		letter-spacing: 0.2em;
		font-size: 0.9em;
	}

	#main {
		padding: 1em 0 0 0;
	}
	#content {
		padding: 0 0 2em 0;
	}
	#content header.style1 {
		padding-bottom: 2.5em;
	}
	#copyright {
		padding: 2em 0 0 0;
	}
	#copyright ul {
		padding: 1em 2em;
		width: 100%;
	}
	#copyright ul li {
		display: block;
		margin: 0.5em 0 0 0;
	}
	#copyright ul li:first-child {
		margin-top: 0;
	}
}